<html>

<head>
    <script src="js/highlight.min.js"></script>
    <script src="js/marked.js"></script>
    <script src="js/vue.js"></script>
    <!-- せっかくのelectronなので、極力requireで読み込みましょう。vueはrequireで読み込むのがきれいです -->
    <link rel="stylesheet" href="css/style_import.css">
</head>

<body id="master" v-on:mousemove="navigationOpen" v-bind:class="[colors[currentColor], {edit: mode}]">
    <div class="editor">
        <textarea v-model="input" v-if="mode"></textarea>
        <div v-html="input | marked" v-else></div>
    </div>
    <div class="navigation" v-bind:class="{'show': showMenu}">
        <i v-on:click="view" class="material-icons" v-if="mode">remove_red_eye</i>
        <i v-on:click="edit" class="material-icons" v-else>border_color</i>
        <span v-if="moreButtons">
            <i v-on:click="openWindow" class="material-icons">note_add</i>
            <i v-on:click="closeWindow" class="material-icons">delete</i>
            <i v-on:click="floatWindow" class="material-icons">{{float}}</i>
            <i v-on:click="invertColors" class="material-icons {{colors[currentColor]}}">invert_colors</i>
        </span>
        <i v-on:click="more" class="material-icons">more_horiz</i>
    </div>
</body>
<script src="js/editor.js"></script>
</body>

</html>
